body {
  font-family: Arial, sans-serif;
  background: #121212;
  color: white;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
}

#buscador {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: #1e1e1e;
  padding: 15px;
  border-radius: 8px;
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.03);
}
